:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --grey: #808080;
  --medium-grey: #a1a1a1;
  --medium-lightgrey: #c2c2c2;
  --lightgrey: #d3d3d3;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

body {
  margin: 0;
}

header > h1 {
  margin: 0;
}

header,
div#location-dates-container,
footer {
  margin: 0 12px;
}

div#location-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

section#location,
section#dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#location > select {
  border: none;
  background-color: rgb(235, 235, 235);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
}

section#location > select > option {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

#get-data-btn {
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

/* Change background-color to dark turquoise on hover */
#get-data-btn:hover {
  background-color: #007375;
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab:nth-of-type(1) {
  background-color: var(--grey);
}

.tab:nth-of-type(2) {
  background-color: var(--medium-grey);
}

.tab:nth-of-type(3) {
  background-color: var(--medium-lightgrey);
}

.tab:nth-of-type(4) {
  background-color: var(--lightgrey);
}

.tab {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  border-radius: 6px 6px 0 0;
}

.tab:hover {
  color: var(--white);
  font-weight: 800;
}

.tab > h3 {
  font-size: 1rem;
  font-weight: 400;
}

.tab.selected > h3 {
  font-weight: 800;
}

section#dates {
  margin-bottom: 24px;
}

/* CHART STYLES */

.graph-container {
  display: flex;
  background-color: var(--grey);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* height: 100vw; */
}

#myChart {
  border-radius: 2px;
  background-color: white;
  max-height: 100dvh;
}

/* Media query > 800 screen width */
@media (min-width: 800px) {
  div#location-dates-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 0;
  }

  section#location,
  section#dates {
    width: calc(33% - 43px);
  }

  header,
  div#location-dates-container,
  section#results,
  footer {
    margin: 0 64px;
  }
  section#dates {
    margin-bottom: 24px;
  }

  #graph-containers {
    min-height: 100vh;
  }
}
