:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

body {
  margin: 0;
}

header > h1 {
  margin: 0;
}

header,
div#location-dates-container,
footer {
  margin: 0 12px;
}

div#location-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#location,
section#dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#location > select {
  border: none;
  background-color: rgb(235, 235, 235);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
}

section#location > select > option {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab:nth-of-type(1) {
  background-color: grey;
}

.tab:nth-of-type(2) {
  background-color: rgb(161, 161, 161);
}

.tab:nth-of-type(3) {
  background-color: rgb(194, 194, 194);
}

.tab:nth-of-type(4) {
  background-color: lightgray;
}

.tab {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.tab > h3 {
  font-size: 1rem;
  font-weight: 400;
}

.tab.selected > h3 {
  font-weight: 800;
}

section#dates {
  margin-bottom: 24px;
}

/* CHART STYLES */

.graph-container {
  display: none;
}

.graph-container.selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* height: 100vw; */
}

.graph-container:nth-of-type(1) {
  background-color: grey;
}

.graph-container:nth-of-type(2) {
  background-color: rgb(161, 161, 161);
}

.graph-container:nth-of-type(3) {
  background-color: rgb(194, 194, 194);
}

.graph-container:nth-of-type(4) {
  background-color: lightgray;
}

#myChart {
  border-radius: 2px;
  background-color: white;
  max-height: 100dvh;
}

/* Media query > 800 screen width */
@media (min-width: 800px) {
  div#location-dates-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  section#location,
  section#dates {
    width: calc(50% - 64px);
  }

  header,
  div#location-dates-container,
  section#results,
  footer {
    margin: 0 64px;
  }
  section#dates {
    margin-bottom: 24px;
  }
}
